@page
@model WebApp.Pages_Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>My Cars</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Add Car</a>
</p>

<form class="form-inline" method="get">
    <div class="form-group">
        Search by plate: <input type="text" value="@Model.SearchString" asp-for="SearchString" class="form-control"/>
        <input type="submit" value="Search" form-control class="btn btn-dark"/>
        <input type="submit" value="Reset" name="onReset" class="btn btn-secondary"
               @(string.IsNullOrWhiteSpace(Model.SearchString) ? "disabled=\"disabled\"" : "")/>
    </div>
</form>

<div class="padding-on-top-20">
    @if (!string.IsNullOrWhiteSpace(Model.SearchString))
    {
        <p>Search is active. Search term: @Model.SearchString</p>
    }
    <p>Cars in database: @Model.Cars.Count</p>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CarPlateSort">
                    @Html.DisplayNameFor(model => model.Cars[0].CarPlate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CarMakeSort">
                    @Html.DisplayNameFor(model => model.Cars[0].CarMake)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CarModelSort">
                    @Html.DisplayNameFor(model => model.Cars[0].CarModel)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarCurrentMileage)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Car[0].CarInitialMileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarTime)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr onclick="location.href = './Cars/Details?id=' + @item.CarId;">
            <td>
                @Html.DisplayFor(modelItem => item.CarPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel.FuelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCurrentMileage)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CarInitialMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
