@page
@model WebApp.Pages_Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarCurrentMileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarInitialMileage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel.FuelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCurrentMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarInitialMileage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
