@page
@model WebApp.Pages_ExpenseTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Expense types</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Add expense type</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType[0].ExpenseTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType[0].ExpenseTypeTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExpenseType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseTypeTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExpenseTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExpenseTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExpenseTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
