@page
@model WebApp.Pages_Units.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Units</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Add unit</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].UnitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit[0].UnitTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Unit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UnitId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UnitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
