@page
@model WebApp.Pages_Fuels.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Fuels</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Add fuel</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fuel[0].FuelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel[0].FuelTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fuel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FuelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FuelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FuelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
