@page
@model WebApp.Pages_Expenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseCostEur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseCostEur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseType.ExpenseTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Unit.UnitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Car.CarMake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.CarMileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.CarMileage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense.ExpenseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
