@page
@model WebApp.Pages_Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Expenses</h2>

<p>
    <a asp-page="Create" class="btn btn-dark">Add expense</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseCostEur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].CarMileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense[0].ExpenseTime)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense) {
        <tr onclick="location.href = './Expenses/Details?id=' + @item.ExpenseId;">
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseCostEur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType.ExpenseTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseTime)
            </td>
            @*<td>
                <a asp-page="./Edit" asp-route-id="@item.ExpenseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExpenseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExpenseId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
